/*Stilizare pentru header */
header {
    background: var(--primary-color) no-repeat center center/cover;
    color: var(--text-color);
    text-align: center;
}

header img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    }

header h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: 2px;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
}
/* Stilizare pentru navigație */
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    max-height: 60px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--hover-color);
}
a #nav-logo {
    max-height: 50px;
    padding: 10px;
    object-fit: contain;
}
